h1 {
  font-size: 40px;
  /* #background:  rgb(56, 68, 68); */
  text-align: center;
  color:white;
}
h3 {
    color: #2f4f4f;
}
a {
    color: SteelBlue;
}
body {
    background:  url("images/wallp2.jpg");
    /* #background-color: white; */
}
article {
    display: block;
} 
#head1 {
  font-size: 36px;
  /* background:  rgb(87, 112, 112); */
  background-image: url('images/loft-35.png');
  /* background-repeat: repeat; */
  /* background-position: center; */
  color:rgb(234, 247, 247);
  text-shadow: 1px 1px 20px rgb(124, 183, 194);
}
#loft {
    /* width: 900px; */
    font-size: 19px;
    display: inline-block;
    position: static;
    left: 3px;
    text-align: left;
  }
#sss{
    { width: 250px; }
      img { float: left; }
}
  

  #terrassa{
    position: right;
    left: 10px;
    text-align: left;
  }
  img { 
    float: left;
    margin: 0 10px 10px 0;
  }
