h1 {
  font-size: 40px;
  /* #background:  rgb(56, 68, 68); */
  text-align: center;
  color:white;
}
h3 {color: #2f4f4f;}
a {color: SteelBlue;}
body {background-color: white;}
article {display: block;} 
#head1 {
  font-size: 30px;
  background:  rgb(226, 230, 230);
  /* background-image: url('images/loft-35.png'); */
  /* background-repeat: repeat; */
  background-position: center;
  color:rgb(17, 17, 17);
  text-shadow: 1px 1px 20px rgb(226, 232, 233);
}
#loft {
    /* width: 480px;
    height: 510px; */
    font-size: 14px;
    /* height: 100px; */
    /* background-color: rgb(245, 245, 245); */
    padding: 5px;
    display: inline-block;
    /* position: relative; */
    left: 10px;
    text-align: left;
  }
div { width: px; }
p{padding-left: 40px;}  
#news img { 
  float: left;
  margin: 0 10px 10px 0;
}
  #terrassa{
    position: right;
    left: 10px;
    text-align: left;
  }

  /* ul {
    font: 14px Verdana, Geneva, sans-serif;
    text-align: center;
    margin: 0px 0 10px;
} */
#bb:after {
  /* content: ' i i i i i i i i '; */
  word-spacing: 93px;
  list-style-type: alpha;
  padding: 10px;
  margin: 1px;
  
            /* visibility: hidden; Скрыл это свойство, ради демонстрации процесса */
}
#bb li {

  display : inline-block;
  width : 400px;
  height: 510px;
  background: rgb(233, 233, 233);
  vertical-align: top;
  text-align: center;
/* эмуляция inline-block для IE6-7*/
/* display : inline; */
 /* zoom : 1; */
            }
            #navbar ul {
              display: none;
              background-color: #f90;
              position: absolute;
              top: 100%;
            }
            #navbar li:hover ul { display: block; }
            #navbar, #navbar ul {
              margin: 0;
              padding: 0;
              list-style-type: none;
            }
            #navbar {
              height: 30px;
              background-color: #666;
              padding-left: 25px;
              min-width: 470px;
            }
            #navbar li {
              float: left;
              position: relative;
              height: 100%;
            }
            #navbar li a {
              display: block;
              padding: 6px;
              width: 100px;
              color: #fff;
              text-decoration: none;
              text-align: center;
            }
            #navbar ul li { float: none; }
            #navbar li:hover { background-color: #f90; }
            #navbar ul li:hover { background-color: #666; }
/* gallery start */
#gallery:after {
  /* content: ' i i i i i i i i '; */
  word-spacing: 93px;
  list-style-type: alpha;
  padding: 10px;
  margin: 1px;
  
            /* visibility: hidden; Скрыл это свойство, ради демонстрации процесса */
}
#gallery li {

  display : inline-block;
  width : 310px;
  /* height: 510px; */
  background: rgb(233, 233, 233);
  vertical-align: top;
  text-align: center;
}
/* gallery end */