*{
  
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;

}
body, html{
  overflow-x: hidden;
  
  
}
nav{
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
#checkbox-menu,
.toggle{
  display: none;
}
.menu{
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.menu li a{
  color: #030303;
  text-decoration: none;
  align-self: center;/* выравнивать текущие флекс элементы по флекс линии */
  font-size: 13px;
  padding: 13px;
  transition: background .2s linear;
}
.menu li a:hover{
  background: rgb(241, 213, 84);
  border-radius: 3px;
}
.menu li a.logo{
  font-size: 25px;
  margin-right: 240px;
}
.menu li a.contacts{
  
  margin-right: 100px;
}
.wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.intro{
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.intro-img{
  
  background-image: url("/media/media/img/room4.jpg");
  width: 1100px;
  height: 640px;
  
}
.intro .intro-text{
  
  position: absolute;
  font-size: 62px;
  left: 0px;
  top: 50px;
  text-shadow: 1px 1px 5px rgb(226, 232, 233),
             1px -1px 5px rgb(226, 232, 233),
             -1px 1px 5px rgb(226, 232, 233),
             -1px -1px 5px rgb(226, 232, 233);
}
.intro .intro-contacts{
  background-color: #ffcc01;
  max-width: 450px;
  position: absolute;
  top: 560px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.intro-contacts i{
  
  color: #fff;
  margin-right: 10px;
}
.intro-contacts p{
  
  font-size: 18px;
  margin-right: 10px;
  
}



.h1-text{
  
  max-width: 1100px;
  text-align: center;
  font-size: 35px;
}
.main-img{
  max-width: 1100px;
  float: left;
  border: 5px solid #ffffff;
}
.main{
  display: center; 
  min-height: 400px;
  max-width: 1100px;
  margin: 1% auto;
  font-size: 20px;
}
#gallery{
  max-width: 1100px;
  display: center; 
  padding: 1%;
  margin: 1% auto;
}
#gallery:after {
  max-width: 1100px;
  word-spacing: 93px;
  list-style-type: alpha;
  margin: 1% auto;
}
#gallery li {
  display : inline-block;
  width: 300px;
  height: 350px;
  background: rgb(233, 233, 233);
  vertical-align: top;
  text-align: center;
  margin: 1% auto;
}
#gallery img{
  max-width: 300px;
  max-height: 300px;
  display: center;
}
.wrapperer img{
  max-width: 100%;
  float: left;
}
.wrapperer{
  display: center; 
  min-height: 650px;
  max-width: 1100px;
  margin: 1% auto;
  border: 5px solid #f55a13;
  font-size: 20px;
}

@media screen and (max-width: 765px){
  .toggle{
      clear: both;
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 40px;
      width: 100%;
      color: #000;
      background: rgb(241, 213, 84);
      transition: all .1s linear;
  }
  .toggle:hover{
      background: #d3a900;
  }
  #checkbox-menu:checked + label .touch li{
      opacity: 1;
      visibility: visible;
      transition: all .7s linear;
  }
  #checkbox-menu:checked + label .touch{
      height: 350px;
  }
  .menu{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 0;
      transition: height .3s linear;
  }
  .menu li{
      display: flex;
      align-self: center;
      width: 95%;
      opacity: 0;
      visibility: hidden;
  }
  .menu li a{
      width: 95%;
      text-align: center;
      align-self: center;
      align-content: center;
  }
  .menu li a.logo{
      font-size: 21px;
      margin-right: 0px;
  }
  .menu li a.contacts{
      margin-right: 0px;
  }
  .intro{
      margin-top: 0;
      display: block;
      max-width: 100%;
  }
  .intro-img{
      background-position: bottom 50px right 570px;
  }
  .intro .intro-text{
      position: relative;
      font-size: 35px;
      left: 10px;
      top: 98px;
  }
  .intro .intro-contacts{
      right: 0;
      top: -55px;
      padding: 20px 10px;
      position: relative;
  }
  .intro-contacts i{
      margin-right: 10px;
  }
  .intro-contacts p{
      font-size: 13px;
      margin-right: 0;
  }
  .h1-text{
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
    font-size: 35px;
  }
  
  .main{
    font-size: 20px;
    
  }
  .main-img{
    margin-left: 20;
    width: 570;
  }
  .wrapperer img{
    max-width: 96%;
    float: left;
  }
  .wrapperer{
    display: center; 
    min-height: 100%;
    max-width: 100%;
    margin: 1% auto;
    border: 5px solid #f55a13;
    font-size: 13px;
  }
  #gallery{
    display: grid;
  }
  #gallery:after {
    
    max-width: 100%;
  }
  #gallery li {
    background: rgb(233, 233, 233);
    text-align: center;
    margin: 1% auto;
  }
  #gallery img{
    max-width: 300px;
    max-height: 300px;
    float: center;
  }
}
/*////////////////////////////////////////////*/





/*

}

.main img{
  max-width: 100%;
  float: left;
  border: 5px solid #ffffff;
}
.main{
  display: center center; 
  min-height: 300px;
  max-width: 1170px;
  margin: 1% auto;
  font-size: 20px;








  
}.wrapperer img{
  max-width: 100%;
  float: left;
}
.wrapperer{
  display: center; 
  min-height: 650px;
  max-width: 1170px;
  margin: 1% auto;
  border: 5px solid #f55a13;
  font-size: 20px;
}




h1 {
  font-size: 40px;
  text-align: center;
  color:rgb(0, 0, 0);
  
}
h3 {
  padding-left: 2px;
  color: #2f4f4f;}

article {
  padding-left: 3px;
  display: block;}

.date {
  padding:3px;
  padding-left: 3px;
}
.date .info {
  font-weight:bold;
  font-size:12px;
  color:#666;
  padding-left: 3px;
}
#head11 {
  padding-left: 2px;
  background-image: url("/media/media/img/logo.jpg");
  background-position: right top;
  background-size: 100px;
  background-repeat: no-repeat;

}

#head1 {

  color: #030303;
  font-size: 50px;
  font-family: "Times New Roman", Georgia, Serif;
  padding-left: 1px;
  position: relative;
  text-shadow: 1px 1px 5px rgb(226, 232, 233),
               1px -1px 5px rgb(226, 232, 233),
               -1px 1px 5px rgb(226, 232, 233),
               -1px -1px 5px rgb(226, 232, 233);
}
 
#news img { 
  
  float: left;
  display: center;
  margin: 0 10px 10px 0;
  
}
#gallery{
  padding: 1%;
  margin: 1% auto;
}
#gallery:after {
  word-spacing: 93px;
  list-style-type: alpha;
  margin: 1% auto;
#gallery li {
  
  display : inline-block;
  max-width: 100%;
  background: rgb(233, 233, 233);
  vertical-align: top;
  text-align: center;
  margin: 1% auto;
}
#gallery img{
  max-width: 100%;
}
*/