{% extends "base.html" %}

{% block content %}
<body>
    <main>
        
        <section class="stats wrapper">
            <div class="stats-text">
                <h2>Услуги нашей <br>компании</h2>
                <p>Мы специализируемся на изготовлении алюминиевых конструкций (холодное и тёплое остекление),
                    Loft перегородки, безрамное остекление из триплекса и калёного стекла любой сложности.
                    Наша компания имеет собственное производство, за счет этого заказы выполняются в короткие сроки.
                    Мы делаем качественную продукцию и даем на нее гарантию.
                    Компания "М.К.С." - это современное дизайнерское решение.
                    В сжатые сроки мы осуществим любые ваши пожелания и создадим конструкцию вашей мечты.</p>
            </div>
        </section>
    </main>
</body>
{% endblock %}