{% extends "base.html" %}

{% block content %}

<div class="main">   
        <p class="h1-text">Записаться на замер или получить консультацию вы можете по телефонам:
        </p>
        <p><i class="fas fa-phone-alt"></i>+7 (952) 102 12 21 - Борис</p>
        <p><i class="fas fa-phone-alt"></i>+7 (905) 050 65 31 - Александр</p>
        <p><i class="fas fa-map-marker-alt"></i>г. Воронеж, Большая манежная д.13в.</p>
        <p><i class="far fa-envelope"></i>mks-glass@mail.ru</p>
        <a href="https://www.instagram.com/m.k.s.glass/"><i class="fab fa-instagram"></i>instagram</a><br>
        <a href="https://vk.com/mks.glass"><i class="fab fa-vk"></i>vk</a><br>
        <a href="https://www.facebook.com/groups/2522001238128747/"><i class="fab fa-facebook"></i>facebook</a><br></p>
    </div>

{% endblock %}