{% extends "base.html" %}

{% block content %}

        <h3>Осекление таррас из алюминия и ПВХ</h3>
        <div>   
        <ul id="gallery">
                {% for photo in photos.reverse %}
                <li> {{ photo.photo_text}}<br>
                    <img src="{{ photo.img.url }}", height="300", width="300">
                </li>
                {% endfor %}  
            </ul>
        </div>
        <h3>Безрамное остекление, стеклянные ограждения</h3>
        <div>
            <ul id="gallery">
                {% for photoframeless in photoframeless.reverse %}
                <li> {{ photoframeless.PhotoFrameless_text}}<br>
                    <img src="{{ photoframeless.img.url }}", height="300", >
                </li>
                {% endfor %}  
            </ul>
        </div>
        <h3>Въездные ворота, калитки, автоматика</h3>
        <div>
            <ul id="gallery">
                {% for x in gates.reverse %}
                <li> {{ x.gate_text}}<br>
                    <img src="{{ x.img.url }}", height="300", width="300">
                </li>
                {% endfor %}  
            </ul>
        </div>
        <h3>Окна ПВХ, входные группы лоджии</h3>
        <div>
            <ul id="gallery">
                {% for d in pvcs.reverse %}
                <li> {{ d.Pvc_text}}<br>
                    <img src="{{ d.img.url }}", height="300", width="300">
                </li>
                {% endfor %}  
            </ul>
        </div>
        <h3>Металлоконструкции, лестницы, стеллажи</h3>
        <div>
            <ul id="gallery">
                {% for c in metalls.reverse %}
                <li> {{ c.metall_text}}<br>
                    <img src="{{ c.img.url }}", height="300", width="300">
                </li>
                {% endfor %}  
            </ul>
        </div>
{% endblock %}