{% load staticfiles %}
{% load static %}


<!doctype html>
<html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'maintheme/style.css' %}" />
        <meta http-equiv="Content-Type" content="text/html; charset="utf-8">
        <title>MKS-GLASS</title>
       
        <p>г. Воронеж.<br>
        &#9990; тел.: +7 (952) 102 12 21, +7 (905) 050 65 31. <br>
        &#9993; mks-glass@mail.ru<br>
        <a href="m.k.s.glass/">instagram</a><a href="https://vk.com/mks.glass">, vk</a><br>
        <h1 id="head1">Проектирование, производство и установка перегородок из алюминия и стали.</h1>

    </head>
    <body>
    
        <article>
        <h3>Перегородки в стиле Loft</h3>
        <p id = loft>
            <img src="/media/loft12.png"><br>
            Проектирование, изготовление и установка loft перегородок.<br>
            Материал для перегородок - сталь. Материал перегородок для<br>
            ванных комнат и душевых - нержавеющая сталь.<br>
            Покрытие - порошковая покраска по каталогу RAL(матовая, глянец, муар) или лак.<br>
            Двери с нажимными гарнитурами или офисными ручками.<br>
            Заполнение - стекло на выбор или триплекс.<br>
            Любые нестандартные решения распашные, раздвижные, стационарные.
        </p>
        </article>
        <h3>
            Остекление террас и беседок
        </h3>
        <p id = terrassa>
            <img src="/media/terrass.png"><br>
            Остекление террас и беседок является замечательным вариантом<br>
            защиты людей от неблагоприятных погодных условий, а также<br>
            проведения приятного вечера на природе, обеспечивающей ощущение<br>
            свободы, в тепле и комфорте<br>
            Варианты остекления: Теплый или холодный<br>
            Материалы: ПВХ, Алюминий, Сталь, Безрамное Остекление.
        </p>
        <h3>
            Перегородки.
        </h3>
        <p>
            <img src="/media/ALT111.png">
            Изгатавливаем офисные и доьашние перегородки из Алюминия пвх и стали<br>
            и закаленного стекла, возможно изготовление перегородок со встроенными<br>
            жалюзями. Подберем оптимальный вариант по желанию заказчика и возможностям<br>
            помещения. 
        </p>
        <h3>
            Воротные и роллетные системы и автоматика.
        </h3>
        <p>
            <img src="/media/gates.jpg">
            Откатные, секционные и распашные ворота, рольставни.<br>
            Автоматическое и ручное упраление<br>
            Возможность подключения к системе "Умный дом"<br>
            В работе используем Ворота компании Alutech и Стальные ворота собственного<br>
            производства, с различными вариантами отделки.
        </p>
        <h3>
            Преимущества работы с нами
        </h3>
        <p>
            &bull; собственное производство конструкций<br>
            &bull; большой опыт работы с уникальными проектами<br>
            &bull; проектирование и применение нестандартных решений<br>
            &bull; внимательное отношение к деталям и мелочам<br>
            &bull; Клиенториентированность. Индивидуальный подход к каждому заказу<br>
            &bull; команда профессионалов с большим опытом работы
        </p>
    </body>
</html>