{% load staticfiles %}
{% load static %}


<!doctype html>
<html>
        
    <head>
        
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'maintheme/style.css' %}" />
        <meta name="viewport" http-equiv="Content-Type" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <meta name="description" content="лофт перегородки">
        <title>MKS-GLASS</title>
       
        <p>г. Воронеж.<br>
        &#9990; тел.: +7 (952) 102 12 21, +7 (905) 050 65 31. <br>
        &#9993; mks-glass@mail.ru<br>
        <a href="https://www.instagram.com/m.k.s.glass/">instagram</a><a href="https://vk.com/mks.glass">, vk</a><br>
        

    </head>
    
    <body>
        <!-- MENU -->
        <ul id="navbar">
                <li><a href=".">Главная</a></li>
                <li><a href="/gallery">Портфолио</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="contacts">Контакты</a></li>
                <li><a href="#">О нас</a></li>
        </ul>
        

        <ul id="bb">
                <li>Перегородки в стиле Loft<br>
                    Проектирование, изготовление и установка loft перегородок.<br>
                    Материал для перегородок - сталь. Материал перегородок для<br>
                    ванных комнат и душевых - нержавеющая сталь.<br>
                    Покрытие - порошковая покраска по каталогу RAL(матовая, глянец, муар) или лак.<br>
                    Двери с нажимными гарнитурами или офисными ручками.<br>
                    Заполнение - стекло на выбор или триплекс.<br>
                    Любые нестандартные решения распашные, раздвижные, стационарные.<br>
                    <img src="/media/loft12.png"></li>
                <li>Остекление террас и беседок<br>
                    Остекление террас и беседок является замечательным вариантом 
                    защиты людей от неблагоприятных погодных условий, а также 
                    проведения приятного вечера на природе, обеспечивающей ощущение 
                    свободы, в тепле и комфорте<br>
                    Варианты остекления: Теплый или холодный.<br>
                    Материалы: ПВХ, Алюминий, Сталь, Безрамное Остекление.<br>
                    <br><br><br>
                    <img src="/media/terrass.png"></li>
                <li>Перегородки<br>
                    Изгатавливаем офисные и доьашние перегородки из Алюминия пвх и стали 
                    и закаленного стекла, возможно изготовление перегородок со встроенными 
                    жалюзями. Подберем оптимальный вариант по желанию заказчика и возможностям 
                    помещения. <br><br>
                    <br><br><br><br><br><br>
                    <img src="/media/ALT111.png"></li>
                <li>Воротные и роллетные системы и автоматика.<br>
                    Откатные, секционные и распашные ворота, рольставни.<br>
                    Автоматическое и ручное упраление.<br>
                    Возможность подключения к системе "Умный дом"<br>
                    В работе используем Ворота компании Alutech и Стальные ворота собственного
                    производства, с различными вариантами отделки.<br>
                    <br><br><br><br><br><br>
                    <img src="/media/gates1.png"></li>
                <!-- <li>Пункт 5</li>
                <li>Пункт 6</li>
                <li>Пункт 7</li>
                <li>Пункт 8</li> -->
        </ul>
        <p id = loft>
                &bull; собственное производство конструкций<br>
                &bull; большой опыт работы с уникальными проектами<br>
                &bull; проектирование и применение нестандартных решений<br>
                &bull; внимательное отношение к деталям и мелочам<br>
                &bull; Клиенториентированность. Индивидуальный подход к каждому заказу<br>
                &bull; команда профессионалов с большим опытом работы
            </p>
            
    </body>
</html>