<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MKS-GLASS</title>
        <h1>Проектирование, производство и установка перегородок из алюминия и стали.</h1>
        <p>г. Воронеж.</p>
        <p>тел.: +7 (952) 102 12 21 </p>
        <base target="_blank">
        <base href="https://instagram.com/">
    </head>
    <body>
        <p><a href="m.k.s.glass/">instagram</a><a href="https://vk.com/mks.glass">, vk</a></p>
        <h3>Перегородки в стиле Loft</h3>
        <p>
            Проектирование, изготовление и установка loft перегородок.<br>
            Материал для перегородок - сталь. Материал перегородок для<br>
            ванных комнат и душевых - нержавеющая сталь.<br>
            Покрытие - порошковая покраска по каталогу RAL(матовая, глянец, муар) или лак.<br>
            Двери с нажимными гарнитурами или офисными ручками.<br>
            Заполнение - стекло на выбор или триплекс.<br>
            Любые нестандартные решения распашные, раздвижные, стационарные.
        </p>
        <h3>
            Остекление террас и беседок
        </h3>
        <p>
            Остекление террас и беседок является замечательным вариантом<br>
            защиты людей от неблагоприятных погодных условий, а также<br>
            проведения приятного вечера на природе, обеспечивающей ощущение<br>
            свободы, в тепле и комфорте<br>
            Варианты остекления: Теплый или холодный<br>
            Материалы: ПВХ, Алюминий, Сталь, Безрамное Остекление.
        </p>
        <h3>
            Перегородки.
        </h3>
        <p>
            Изгатавливаем офисные и доьашние перегородки из Алюминия пвх и стали<br>
            и закаленного стекла, возможно изготовление перегородок со встроенными<br>
            жалюзями. Подберем оптимальный вариант по желанию заказчика и возможностям<br>
            помещения. 
        </p>
        <h3>
            Воротные и роллетные системы и автоматика.
        </h3>
        <p>
            Откатные, секционные и распашные ворота, рольставни.<br>
            Автоматическое и ручное упраление<br>
            Возможность подключения к системе "Умный дом"<br>
            В работе используем Ворота компании Alutech и Стальные ворота собственного<br>
            производства, с различными вариантами отделки.
            </p>
    </body>
</html>