{% extends "base.html" %}


{% block content %}
<!-- {% load staticfiles %}
{% load static %} -->
<ul id="navbar">
  <li><a href="../">Главная</a></li>
  <li><a href="../gallery">Портфолио</a></li>
  <li><a href=".">Новости</a></li>
  <li><a href="../contacts">Контакты</a></li>
  <li><a href="#">О нас</a></li>

</ul>

    
{% for post in posts.reverse %}
  <div class="date">
    <p class="info">опубликовано: {{ post.published_date }}</p>
  </div>
    <!-- {{ article.title }} -->  
    <h1><a href="">{{ post.title }}</a></h1>
  <div>
    <p id='news'>
      <img src="{{ post.img.url }}">
      {{ post.text|linebreaksbr }}
    </p>
  </div>   
{% endfor %}    

{% endblock %}
