{% extends "base.html" %}


{% block content %}


<!-- <ul id="navbar">
  <li><a href="{% url 'maintheme:index' %}">Главная</a></li>
  <li><a href="{% url 'maintheme:gallery' %}">Портфолио</a></li>
  <li><a href="{% url 'maintheme:news' %}">Новости</a></li>
  <li><a href="{% url 'maintheme:contacts' %}">Контакты</a></li>
  <li><a href="{% url 'maintheme:index' %}">О нас</a></li>

</ul> -->

    
{% for post in posts.reverse %}

<div class="wrapperer">

  <div class="item">
    <p></p>опубликовано: {{ post.published_date }}</p>
  
    <!-- {{ article.title }} -->  
    <p class="h1-text">{{ post.title }}</p>
  
    <p  class="main">  <img class="main-img" src="{{ post.img.url }}">{{ post.text|linebreaksbr }}</p>
  </div>
  </div>   
{% endfor %}    

{% endblock %}
