{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>MKS-GLASS</title>
    <meta charset="UTF-8">
    <link href="{% static "maintheme/style.css" %}" rel="stylesheet">
    <meta name="viewport" content="лофт перегородки, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/d907e42274.js" crossorigin="anonymous"></script>

    
</head>

<body>
    <header>
        <nav>
            <input type="checkbox" id="checkbox-menu">
            <label for="checkbox-menu">
                <ul class="menu touch">
                    <li><a class="logo" href="#">M.K.S</a></li>
                    <li><a href="{% url 'maintheme:index' %}">Главная</a></li>
                    <li><a href="{% url 'maintheme:gallery' %}">Портфолио</a></li>
                    <li><a href="{% url 'maintheme:news' %}">Новости</a></li>
                    <li><a href="{% url 'maintheme:contacts' %}">Контакты</a></li>
                    <li><a href="{% url 'maintheme:index' %}">О нас</a></li>
                    
                </ul>
                <span class="toggle">☰</span>
            </label>
        </nav>
    </header>
    <main>
        <section class="intro wrapper">
            <div class="intro-img">
                <p class="intro-text">Проектирование,<br>
                    производство и<br>
                    установка изделий<br>
                     из алюминия и стали.</p>
            </div>
            <div class="intro-contacts">
                <p><i class="fas fa-phone-alt"></i>7(952)1021221</p>
                <p><i class="fas fa-map-marker-alt"></i>г. Воронеж</p>
            </div>
            
        </section>
    </main>

 <div id="date">
 {% block content %}{% endblock %}
 </div>

</body>
</html>